<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>This is example</title>
    <link type="text/css" rel="stylesheet" href="static/stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="static/stylesheets/jquery.dataTables.css">
    <script src="static/javascripts/jquery.min.js"></script>
    <script src="static/javascripts/bootstrap.min.js"></script>
    <script src="static/javascripts/jquery.dataTables.js"></script>
</head>
<body>
     <div class="container">
        <div class="jumbotron">
            <h1>This is example</h1>
            <p>BILL Demo</p>
        </div>

        </table>
      </div>
</body>
</html>